[build-system]
requires = ["pip==21.3.1", "setuptools==59.6.0", "versioneer-518"]
build-backend = "setuptools.build_meta"

[tool.black]
include = '\.py$'
line-length = 79

[tool.isort]
ensure_newline_before_comments = true
force_grid_wrap = 0
include_trailing_comma = true
known_first_party = "pymanopt"
line_length = 79
multi_line_output = 3
profile = "pycharm"
use_parentheses = true
