name: Run linting

on:
  pull_request:
    branches:
      master

jobs:
  linting:
    runs-on: ubuntu-20.04
    steps:
      - name: Set up python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install requirements
        run: pip install -e ".[dev,ci]"

      - name: Run linting
        run: |
          isort --check .
          black --check .
          flake8
